@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.gift {
  transition: transform 0.2s ease;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

.gift:active {
  animation: pop 0.8s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.8);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.typ-text {
  line-height: 1.2;
  color: #616161;
}

.click-me {
  font-weight: bold;
  color: #616161;
}